.newDiv{
    border: 1px solid red;
}

.post{
    border: 1px solid black;
}

.form-popup {
  border: 1px solid black;
  width: 300px;
  position: absolute;
}
.form-container {
    max-width: 250px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text], .form-container input[type=text], .form-container input[type=text] {

    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color:peachpuff;
    outline: none;
  }

  .form-container .btn, .form-container .btnclose {
    background-color: grey;
    color: white;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }